@model AddDipendenteViewModel

<form id="addDipendenteForm">
    <div class="mb-3">
        <label asp-for="FirstName">Nome</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    
    <div class="mb-3">
        <label asp-for="LastName">Cognome</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" type="date" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control">
            <option value="DipendenteBase">Dipendente Base</option>
            <option value="DipendenteAdmin">Dipendente Admin</option>
        </select>
    </div>

    <button class="btn btn-success" type="button" onclick="sendAddForm()">Aggiungi Dipendente</button>
</form>
